<footer
class="bg-transparent text-center w-100 position-absolute bottom-0"
>
<div>
  <section class="mb-4">
    <a
      class="btn btn-outline-transparent btn-floating m-1"
      href="https://www.linkedin.com/in/sekllan-chenruan/"
      target="_blank"
      role="button"
      ><img
        class="socials"
        src="./media/images/linkedin2.png"
        alt="linkedin logo"
    /></a>
    <a
      class="btn btn-outline-transparent btn-floating m-1"
      href="https://github.com/SekllanChenRuan"
      target="_blank"
      role="button"
      ><img
        class="socials"
        src="./media/images/github.png"
        alt="githublogo"
    /></a>
  </section>
</div>
<h6>Copyright &copy; 2023 | All Rights Reserved</h6>
</footer>


<!-- <footer id="footer" class="footer container">
  <div class="footer__content">
    &copy; 2023 | All Rights Reserved.
  </div>
</footer> -->