<header class="header">
        <nav class="navbar top navbar-expand-lg bg-transparent">
          <div class="container">
            <a class="navbar-brand" href="/index.html">Sekllan</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ms-auto">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/index.html"
                  >Home</a
                >
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/fade">Fade</a>
                <a class="nav-link" href="/project">Projects</a>
                <a class="nav-link" href="/contact">Contact</a>
                <a class="nav-link" href="/jonathan">???</a>
            </div>
          </div>
        </nav>
        <div class="modetoggle fa fa-moon-o" onclick="toggleMode()"></div>
  <!-- <a href="../dist/index.html" class="brand"><span>Sekllan</span></a>
  <nav class="main-nav">
    <ul class="main-nav__list">
      <a href="../dist/about" class="main-nav__item">
        <li>About</li>
      </a>
      <a href="../dist/contact" class="main-nav__item">
        <li>Contact</li>
      </a>
      <a href="#" class="main-nav__item cta">
        <li>Signup</li>
      </a>
    </ul>
  </nav> -->
</header>